/*desktop*/
@media screen and (min-width: 1024px) and (max-width: 1360px) {
  /*services offered*/
  div.container-icons {
    margin-left: 2%;
    margin-right: 2%;
  }

  div.container-icons img {
    width: 170px;
    height: 180px;
  }
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*header*/
  h1 {
    font-size: 60px;
  }

  /*services offered*/
  p.title {
    font-size: 50px;
  }

  div.container-icons {
    margin-left: 2%;
    margin-right: 2%;
  }

  div.container-icons img {
    width: 140px;
    height: 150px;
  }

  /*about-the-company*/
  div.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img#img-security-work {
    width: 300px;
    height: 300px;
  }

  section#about-the-company p.about-text {
    font-size: 22px;
  }

  /*contact*/
  a div.align-items p {
    font-size: 22px;
    color: #707070;
  }

  section#contact p.contact-text {
    font-size: 22px;
  }

  section#contact img {
    width: 50px;
    height: 50px;
  }
}

/*smartphone*/
@media screen and (max-width: 767px) {
  /*header*/
  h1 {
    font-size: 35px;
    color: #ffffff;

    padding-top: 2%;
  }

  h2 {
    font-size: 13px;
    color: #ffffff;
    text-align: center;

    margin-right: 0;
    padding-bottom: 5%;
  }

  /*services offered*/
  p.title {
    font-size: 33px;
  }

  div.container-icons {
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.container-icons img {
    width: 170px;
    height: 180px;

    margin-bottom: 5%;
  }

  /*about-the-company*/
  p.big-title {
    font-size: 50px;
  }

  section#about-the-company p.about-text {
    font-size: 20px;
    width: 100%;
  }

  /*contact*/
  section#contact p.contact-text {
    font-size: 20px;
    text-align: start;
  }

  a div.align-items p {
    font-size: 18px;
    color: #707070;

    margin-left: 2%;
  }

  section#contact img {
    width: 40px;
    height: 40px;
  }

  /*footer*/
  footer p {
    font-size: 15px;
    text-align: center;
  }
}
